body {
    font-family: 'Open Sans',sans-serif,'Arial','Helvetica',"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    color: #333333;
}
h2 {
    color: var(--theme-background-color, #2e7dba);
}
.voortgang, .stap {
    width: 100%;
    border: none;
}
.tool {
    border: 1px solid gray;
    padding: 6px;
    margin-right: 2px;
    vertical-align: top;
}
.nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}
.toolinfo {
    display: flex;
}
#scholieren {
    width: 80%;
}
a {
    text-decoration: none;
}
.button {
    display: block;
    box-sizing: border-box;
    background-color: var(--theme-background-color, #2e7dba);
    border: 1px solid var(--theme-background-color, #2e7dba);
    border-radius: 4px;
    color: white;
    padding: 4px;
    font-weight: bold;
    width: 80%;
    text-align: center;
}
.button.double {
    width: 150px;
}
.button.secondary {
    color: var(--theme-background-color, #2e7dba);
    background-color: white;
}